<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galeri</title>
  <style>
    .main-div {
      width: 600px;
      margin: 0 auto;
      background-color: rgb(235, 240, 240);
      padding: 20px;
    }

    .gallery-div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    img {
      height: 200px;
      margin-bottom: 12px;
    }
  </style>
</head>

<body>
  <div class="main-div">
    <h1>Galeri</h1>
    <div class="gallery-div">
      <% images.forEach((src)=> { %>
        <img src="<%= src %>">
        <% }) %>
    </div>
    <a href="/upload">Yükleme sayfasına dön</a>
  </div>
</body>

</html>