<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resim yükleme sonucu</title>
  <style>
    .main-div {
      width: 600px;
      margin: 0 auto;
      background-color: rgb(235, 240, 240);
      padding: 20px;
    }
  </style>
</head>

<body>
  <div class="main-div">
    <h1>Resim yüklendi!</h1>
    <a href="/gallery">Tüm resimleri gör</a>
    <a href="/upload">Yükleme sayfasına dön</a>
  </div>
</body>

</html>